
@{
    ViewData["Title"] = "Dvitalsign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<main id="main" class="main ">


    <section class="section">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                    Add Vital sign Modal
                </button>
                <div class="modal fade" id="basicModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Patient's Details</h5>
                                             <div class="row">
                                                <div class="col-lg-6">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Patient's Details</h5>

                                                            <!-- General Form Elements -->
                                                            <form>
                                                                <div class="row mb-3">

                                                                    <label for="ID" class="col-sm-2 col-form-label">ID</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="password" id="ID" class="form-control">
                                                                        <div class="col-4  pt-2">
                                                                            <button type="button" class="btn btn-primary  ">Enter</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="text" class="col-sm-2 col-form-label">First Name</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" id="fIRSTName" class="form-control">
                                                                    </div>
                                                                    <label for="text" class="col-sm-2 col-form-label">Last Name</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" id="lastName" class="form-control">

                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="email" id="email" class="form-control">
                                                                    </div>
                                                                </div>

                                                                <div class="row mb-3">
                                                                    <label for="Home Address" class="col-sm-2 col-form-label">Home Address</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="homeAddress" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="State" class="col-sm-2 col-form-label">State</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="state" class="form-control">
                                                                    </div>
                                                                </div>

                                                                <div class="row mb-3">
                                                                    <label for="inputDate" class="col-sm-2 col-form-label">Date Of Birth</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="date" id="date" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="time" id="time" class="form-control">
                                                                    </div>
                                                                </div>


                                                                <div class="row mb-3">
                                                                    <label class="col-sm-2 col-form-label">Services</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-select" aria-label="">
                                                                            <option selected></option>
                                                                            <option value="1">Consultation</option>
                                                                            <option value="2">Laboratory</option>
                                                                            <option value="3">Imaging</option>
                                                                            <option value="3">Antenatal</option>
                                                                            <option value="3">ChildBirth</option>


                                                                        </select>
                                                                    </div>
                                                                </div>



                                                            </form><!-- End General Form Elements -->

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-lg-6">
                                                    -
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h1 class="card-title">Vital Signs</h1>

                                                            <!-- Advanced Form Elements -->
                                                            <form>
                                                                <div class="row mb-3">
                                                                    <div class=" col-6">

                                                                        <label for="col-form-label">Gender</label>
                                                                        <div class=" col-6">
                                                                            <select class="form-select" id="gender" aria-label="Floating label select example">
                                                                                <option selected></option>
                                                                                <option value="1">Male</option>
                                                                                <option value="2">Female</option>
                                                                                <option value="3">Others</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Body Temperature</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="temperature">Celcius</span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Blood Pressure</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="pressure">MM/Hg</span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class="col-form-label">Body Weight</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="weight">Kg/</span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Body Height</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="height">CM/</span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">BMI</label>
                                                                        <div class="">
                                                                            <input type="number" class="form-control" id="bodyIndex" aria-describedby="basic-addon1" />
                                                                            <select class="form-select" id="bmi" aria-label="Floating label select example">
                                                                                <option selected></option>
                                                                                <option value="1">  Overweight</option>
                                                                                <option value="2">Normal</option>
                                                                                <option value="3">Underweight</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Respiration Rate</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="respiration">CM/</span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Level Of Consciousness</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="consciousness"></span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Skin Color</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <input type="text" class="form-control" id="skin" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Pupillary Assesment</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <input type="text" class="form-control" id="pupillary" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class=" col-6">
                                                                        <label class=" col-form-label">Attended by Nurse</label>
                                                                        <div class="">
                                                                            <div class="input-group mb-3">
                                                                                <span class="input-group-text" id="nurse">CM/</span>
                                                                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-floating mb-3">
                                                                    <label for="floatingTextarea">Patient's Complaints</label>

                                                                    <textarea class="form-control" placeholder="Leave a comment here" id="Complain" style="height: 100px;"></textarea>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <div class="col-sm-10">
                                                                        <button type="submit" class="btn btn-primary">Send to doctor</button>
                                                                    </div>
                                                                </div>

                                                            </form>




                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- End Basic Modal-->



            <div class="col-4">
                <h2 class="" style="display:flex; text-align:center;justify-content:center;">Patient Appointment</h2>
            </div>

        </div>
        <div class="row align-items-top">

            <form class="search-form d-flex align-items-center" method="POST" action="#" style="float:right; display:flex; justify-content:end;">

                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>


        </div>
    </section>

    <!-- Default Card -->
    <section>
        <div class="card" style="width:100%">
            <div class="card-body">
                <h5 class="card-title">Recent Payment</h5>

                <table class="table table-bordered border-primary">
                    <thead class="bg-danger">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Visit id</th>

                            <th scope="col">Patient Name</th>
                            <th scope="col">Nurse Name</th>
                            <th scope="col">BP</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"> </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                            <td><button type="button" class="btn btn-primary">History</button></td>

                            <td><button type="button" class="btn btn-primary">Print</button></td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>



                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>

                            <td><button type="button" class="btn btn-primary">History</button></td>

                            <td><button type="button" class="btn btn-primary">Print</button></td>
                            <td><button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>




                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                            <td><button type="button" class="btn btn-primary">History</button></td>

                            <td><button type="button" class="btn btn-primary">Print</button></td>
                            <td><button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>



                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                            <td><button type="button" class="btn btn-primary">History</button></td>

                            <td><button type="button" class="btn btn-primary">Print</button></td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>




                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Division Officer</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                            <td><button type="button" class="btn btn-primary">History</button></td>

                            <td><button type="button" class="btn btn-primary">Print</button></td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>


                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Division Officer</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                            <td><button type="button" class="btn btn-primary">History</button></td>

                            <td><button type="button" class="btn btn-primary">Print</button></td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>



                        </tr>

                    </tbody>
                </table>
                <!-- End Primary Color Bordered Table -->

            </div>
        </div>



        <div class="modal fade" id="largeModal" tabindex="-1">

                   <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Checkup</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row g-0">
                                 <div class="col-md-6 col-sm-12">
                                    <!-- General Form Elements -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="Patientname" class="col-sm-5 col-form-label">Patient's Name'</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="docName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="DocName" class="col-sm-5 col-form-label">Patient's Type'</label>
                                            <div class="col-sm-7">

                                                <select class="form-select" aria-label="">
                                                    <option selected></option>
                                                    <option value="1">Out Patient</option>
                                                    <option value="2">In patient</option>
                                                    <option value="3">Imaging</option>
                                                    <option value="3">Antenatal</option>
                                                    <option value="3">ChildBirth</option>


                                                </select>

                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="DocName" class="col-sm-5 col-form-label">Doctor's Name'</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="docName" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="SerialNo" class="col-sm-5 col-form-label">Checkup Date</label>
                                            <div class="col-sm-7">
                                                <input type="date" id="serialNo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="AppointmentDate" class="col-sm-5 col-form-label">Next Visit</label>
                                            <div class="col-sm-7">
                                                <input type="date" id="appointmentDate" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row mb-2">
                                            <label for="AppointmentTime" class="col-sm-5 col-form-label">Advice </label>
                                            <div class="col-sm-7">
                                                <textarea class="form-control" style="height: 50px"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <label for="Comment" class="col-sm-5 col-form-label">Comment </label>
                                            <div class="col-sm-7">
                                                <textarea class="form-control" style="height: 50px"></textarea>
                                            </div>
                                        </div>




                                        <div class="row mb-3">
                                            <label class="col-sm-5 col-form-label"></label>
                                            <div class="col-sm-7">
                                                <button type="submit" class="btn btn-primary">Submit Form</button>
                                            </div>
                                        </div>

                                    </form><!-- End General Form Elements -->
                                </div>
                                 <div class="col-md-6 col-sm-12">
                                          <div class="" style="display:flex; justify-content:space-between;">
                                             <p>Chief complaint</p>
                                              <p>Vital sign</p>
                                               <p>Investigation</p>
                                                <p data-bs-toggle="modal" data-bs-target="#investigate"><a href="">Treatment</a></p>

                                         </div>

                                        <table class="table table-bordered border-primary" style="width:100%;">
                                            <thead class="bg-danger">
                                                <tr>
                                                    <th scope="col">id</th>
                                                    <th scope="col">Medicine</th>

                                                    <th scope="col">No of Days</th>
                                                    <th scope="col">When to take</th>
                                                    <th scope="col">History</th>
                                                    <th scope="col">Action</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                        <td>
                                                            <div class="col-2">

                                                                <select class="form-select" aria-label="">
                                                                    <option selected></option>
                                                                    <option value="1">Out Patient</option>
                                                                    <option value="2">In patient</option>
                                                                    <option value="3">Imaging</option>
                                                                    <option value="3">Antenatal</option>
                                                                    <option value="3">ChildBirth</option>


                                                                </select>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-2">
                                                                <input type="text" id="serialNo" class="form-control">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-2">
                                                                <input type="text" id="serialNo" class="form-control">
                                                            </div>
                                                            </td>
                                                    <td>2016-05-25</td>
                                                    <td><button type="button" class="btn btn-primary">Add</button></td>




                                                </tr>


                                            </tbody>
                                        </table>
                                        <table class="table table-bordered border-primary" style="width:100%;">
                                            <thead class="bg-danger">
                                                <tr>
                                                    <th scope="col">id</th>
                                                    <th scope="col">Medicine</th>

                                                    <th scope="col">No of Days</th>
                                                    <th scope="col">When to take</th>
                                                    <th scope="col">History</th>
                                                    <th scope="col">Action</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                        <td>
                                                            <div class="col-12">

                                                                <select class="form-select" aria-label="">
                                                                    <option selected></option>
                                                                    <option value="1">Out Patient</option>
                                                                    <option value="2">In patient</option>
                                                                    <option value="3">Imaging</option>
                                                                    <option value="3">Antenatal</option>
                                                                    <option value="3">ChildBirth</option>


                                                                </select>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-12">
                                                                <input type="text" id="serialNo" class="form-control">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-12">
                                                                <input type="text" id="serialNo" class="form-control">
                                                            </div>
                                                            </td>
                                                    <td>2016-05-25</td>
                                                    <td><button type="button" class="btn btn-primary">Add</button></td>




                                                </tr>


                                            </tbody>
                                        </table>
                                        <!-- End Primary Color Bordered Table -->

                                    </div>
                                  </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                              </div>
                        </div>
                    </div><!-- End Large Modal-->
                 </div>



    </section>


</main><!-- End Default Card -->
