################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/Alive/Alive/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
