
@{
    ViewData["Title"] = "companyInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="modal fade" id="hugeModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Patient Test Summary</h5>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width:40%; background-color:lightseagreen;">Id</th>
                                            <th scope="col" style="width:70%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Name</td>
                                            <td>Designer</td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Logo</td>
                                            <td>Bridie Kessler</td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;"> Address</td>
                                            <td>Ashleigh Langosh</td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Country</td>
                                            <td>Angus Grady</td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Phone</td>
                                            <td>Raheem Lehner</td>

                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Email</td>
                                            <td>Raheem Lehner</td>

                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Website</td>
                                            <td>Raheem Lehner</td>

                                        </tr>
                                        <tr>
                                            <td style="background-color:lightseagreen;">Created by</td>
                                            <td>Raheem Lehner</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>
