
@{
    ViewData["Title"] = "investigation";
}

<main>                               
    <div class="col-md-6 col-sm-12">
                                          <div class="" style="display:flex; justify-content:space-between;">
                                             <p>Chief complaint</p>
                                              <p>Vital sign</p>
                                               <p>Investigation</p>
                                                <p>Treatment</p>

                                         </div>

                                        <table class="table table-bordered border-primary" style="width:100%;">
                                            <thead class="bg-danger">
                                                <tr>
                                                    <th scope="col">id</th>
                                                    <th scope="col">Medicine</th>

                                                    <th scope="col">No of Days</th>
                                                    <th scope="col">When to take</th>
                                                    <th scope="col">History</th>
                                                    <th scope="col">Action</th>
                                                    

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                        <td>
                                                            <div class="col-2">

                                                                <select class="form-select" aria-label="">
                                                                    <option selected></option>
                                                                    <option value="1">Out Patient</option>
                                                                    <option value="2">In patient</option>
                                                                    <option value="3">Imaging</option>
                                                                    <option value="3">Antenatal</option>
                                                                    <option value="3">ChildBirth</option>


                                                                </select>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-2">
                                                                <input type="text" id="serialNo" class="form-control">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-2">
                                                                <input type="text" id="serialNo" class="form-control">
                                                            </div>
                                                            </td>
                                                    <td>2016-05-25</td>
                                                    <td><button type="button" class="btn btn-primary">Add</button></td>

                                                    


                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                        <!-- End Primary Color Bordered Table -->

                                    </div>
                                  </main>
                                