
@{
    ViewData["Title"] = "PatientTestCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model Alive.Models.Dispensary


<main id="main" class="main">



    <section class="section">
        <div class="row">
        <div class="col-lg-12">

                <div class="card">
                    <div class="card-body" style="background-color:floralwhite">
                        <div class="">
                            <h3 class="" style="float:right;">Recieved : 20/7/2022</h3>

                            <h3 class="" style=" padding: inherit; background-color:#E26C78; text-align:center">Lab Request Form</h3>
                        </div>
                        <!-- Multi Columns Form -->
                        <form >
                            <div class="row mb-3">
                                <div class="col-6" >
                                    <h3>Patient Details</h3>
                                    <div class="vl" style="border-style:solid;">
                                        <p  style="border-style: dotted;">Name:<span contenteditable="true"></span></p>
                                        <p contenteditable="true" class="" >Address:<span contenteditable="true"></span></p>
                                        <p contenteditable="true" class="" style="border-style: dotted;">Age:<span contenteditable="true"></span></p>
                                        <p contenteditable="true" class="" style="border-style: dotted;">Phone:<span contenteditable="true"></span></p>

                                    </div>


                                </div>



                                <div class="col-6">
                                    <h3 class="">Investigation Requested </h3>
                                    <div class="vl" style="border-style:solid; background-color:">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="row mb-3">
                                                    <label for="Patientname" class="col-sm-5 col-form-label">Test</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" asp-for="Name" id="drugName" class="form-control" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <label for="Patientname" class="col-sm-5 col-form-label">Test</label>
                                                    
                                                    <div class="col-sm-7">
                                                        <input type="text" asp-for="Name" id="drugName" class="form-control" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                 <div class="row mb-1">
                                                    <label for="Patientname" class="col-sm-5 col-form-label">Investigations</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" asp-for="Name" id="drugName" class="form-control" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>

                                                    </div>
                                                </div>
                                              </div>
                                                <div class="col-6">
                                                  <div class="row mb-3">
                                                    <label for="Patientname" class="col-sm-5 col-form-label">Test</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" asp-for="Name" id="drugName" class="form-control" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>

                                                    </div>
                                                  </div>
                                                    <div class="row mb-1">
                                                        <label for="Patientname" class="col-sm-5 col-form-label">Test</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" asp-for="Name" id="drugName" class="form-control" />
                                                            <span asp-validation-for="Name" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                    <div class="row mb-1">
                                                        <label for="Patientname" class="col-sm-5 col-form-label">Test</label>
                                                        <div class="col-sm-7">
                                                            <input type="text" asp-for="Name" id="drugName" class="form-control" />
                                                            <span asp-validation-for="Name" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                </div>


                                         </div>
                                     </div>
                                </div>
                             </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h3>Sample Details</h3>
                                    <div class="vl" style="border-style:solid;">
                                        <p class="" style="border-style: dotted;">Urgency:</p>
                                            <input type="checkbox" id="urgency" name="urgency" value="normal">
                                            <label for="urgency"> Normal</label><br>
                                            <input type="checkbox" id="urgency2" name="urgency2" value="Urgent">
                                            <label for="vehicle2"> urgent</label><br>




                                    </div>


                                </div>



                                 <div class="col-6">
                                   <div class="vl" style="border-style:solid;">
                                    <h3>Sample Taken From Patient</h3>

                                    <p class="" style="border-style: dotted;">Date:<span contenteditable="true"></span></p>
                                        <p class="" style="border-style: dotted;">Time:<span contenteditable="true"></span></p>

                                   </div>
                                  </div>


                            </div>

                            <table class="table table-bordered">
                                <thead>
                                     <tr>
                                        <th>

                                             <div class="form-check">
                                                <p>Blood<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Faeces<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-check">
                                                <p>Urine<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Sputum<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-check">
                                                <p>Swab<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Fluid<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-check">
                                                <p>Tissue<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Cytology<input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                        <td>
                                            <div class="form-check">
                                                <p>Others, namely:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                     </tr>
                                    <tr>
                                        <td>

                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>

                                </tbody>
                            </table>
                            <h2 class="mt-2 mb-0">Examination Requested</h2>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Profiletest</th>
                                        <th>Biochemistry</th>

                                        <th>Hematology</th>
                                        <th>Urinalsis/Component</th>

                                        <th>Reference</th>




                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <p>LFT:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>RFT:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>TFT:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>LGL:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div></td>
                                        <td>
                                            <div class="form-check">
                                                <p>HIV 1&2:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>CD4 Count:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>HBsAg:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Uric Acid:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Glucose:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <p>>ESR:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>HB:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>FBS:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>RBS:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>RBS:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>RVS:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Blood Group:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Genotype:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>malaria Parasite:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                               <p>widal Test:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                           </div>
                                         </td>
                                         <td>
                                            <div class="form-check">
                                                <p>Urinart dipstick test:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>color:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Clarity:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>PH:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>

                                            <div class="form-check">
                                                <p>Specific Gravity:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Blood:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Ketone:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Protein:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>

                                            <div class="form-check">
                                                <p>Urobilinogen:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Bilirubium:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Leucocyte:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Nitrite:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Nitrite:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Urine Microscopy:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>WBC:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>RBC:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p>Epithelial Cell:<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>

                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>

                                            <div class="form-check">
                                                <p<span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                            <div class="form-check">
                                                <p><span contenteditable="true"></span><input class="form-check-input" type="checkbox" value="" id="defaultCheck2"></p>
                                            </div>
                                        </td>



                                </tbody>
                            </table>



                        </form> 
                    </div>
                </div>
          </div>
       </div>

    </section>

</main>