@{
    ViewData["Title"] = "PharmaInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<main id="main" class="main ">


    <section class="section">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                    Add Pharmacist
                </button>
                <div class="modal fade" id="basicModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ADmin's Details</h5>

                                        <!-- General Form Elements -->
                                        <form>

                                            <div class="row mb-3">
                                                <label for="name" class="col-sm-5 col-form-label"> Name</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="pName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="email" class="col-sm-5 col-form-label">Email</label>
                                                <div class="col-sm-7">
                                                    <input type="email" id="pEmail" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="Patientname" class="col-sm-5 col-form-label">Admin Id</label>
                                                <div class="col-sm-7">
                                                    <input type="email" id="pId" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="gender" class="col-sm-5 col-form-label">Gender</label>
                                                <div class="col-sm-7">
                                                    <input type="text" id="pgender" class="form-control">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="DocName" class="col-sm-5 col-form-label">Document</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control" type="file" id="formFile">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="SerialNo" class="col-sm-5 col-form-label">Created Date No</label>
                                                <div class="col-sm-7">
                                                    <input type="date" id="pcreate" class="form-control">
                                                </div>
                                            </div>



                                            <div class="row mb-3">
                                                <label class="col-sm-5 col-form-label"></label>
                                                <div class="col-sm-7">
                                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                                </div>
                                            </div>

                                        </form><!-- End General Form Elements -->

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- End Basic Modal-->



            <div class="col-4">
                <h2 class="" style="display:flex; text-align:center;justify-contentcenter;">Pharmacist's Info</h2>
            </div>

        </div>
        <div class="row align-items-top">

            <form class="search-form d-flex align-items-center" method="POST" action="#" style="float:right; display:flex; justify-content:end;">

                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>


        </div>
    </section>

    <!-- Default Card -->
    <section>
        <div class="card" style="width:100%">
            <div class="card-body">

                <table class="table table-bordered border-primary">
                    <thead class="bg-danger">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col"> Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Admin Id</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Phone Number</th>



                            <th scope="col">Qualifications</th>

                            <th scope="col">Created Date</th>
                            <th scope="col"> </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Test tube</td>
                            <td>200</td>
                            <td>Test tube</td>

                            <td>Test tube</td>

                            <td>Test tube</td>


                            <td><button type="button" class="btn btn-danger">Qualification</button></td>

                            <td>2016-05-25</td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal">Edit</button></td>



                        </tr>

                    </tbody>
                </table>
                <!-- End Primary Color Bordered Table -->

            </div>
        </div>




    </section>
    <div class="modal fade" id="largeModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Doctor's Details</h5>

                            <!-- General Form Elements -->
                            <form>

                                <div class="row mb-3">
                                    <label for="name" class="col-sm-5 col-form-label"> Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="pName" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="email" class="col-sm-5 col-form-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="email" id="pEmail" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="Patientname" class="col-sm-5 col-form-label">Admin Id</label>
                                    <div class="col-sm-7">
                                        <input type="email" id="pId" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="gender" class="col-sm-5 col-form-label">Gender</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="pgender" class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="DocName" class="col-sm-5 col-form-label">Document</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="SerialNo" class="col-sm-5 col-form-label">Created Date No</label>
                                    <div class="col-sm-7">
                                        <input type="date" id="pcreate" class="form-control">
                                    </div>
                                </div>` 1
                                <div class="row mb-3">
                                    <label class="col-sm-5 col-form-label"></label>
                                    <div class="col-sm-7">
                                        <button type="submit" class="btn btn-primary">Submit Form</button>
                                    </div>
                                </div>

                            </form><!-- End General Form Elements -->

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
    <!-- End Basic Modal-->

</main><!-- End Default Card -->
