
@{
    ViewData["Title"] = "history";
    Layout = "~/Views/Shared/_PatientsLayout.cshtml";

}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Summary</li>
                <li class="breadcrumb-item active">Lists</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row ">
            <div class="col-lg-6">

                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Patients Details</h5>
                        <p class="" style="font-size:medium;">Name: <span id="Afa"></span></p>
                        <p class="" style="font-size:medium;">Age: <span id="age"></span></p>
                        <p class="" style="font-size:medium;">Email: <span id="email"></span></p>
                        <p class="" style="font-size:medium;">Address: <span id="address"></span></p>
                        <p class="" style="font-size:medium;">Payment: <span id="payment"></span></p>

                     </div>
                </div><!-- End Default Card -->
            </div>
        

            
              <div class="col-lg-6">

                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consultation</h5>
                       <div class="row">
                           <div class=" col-3">
                               <p id="consullt"> </p>

                           </div>
                            <div class=" col-3">
                                <p id="Doctorname"> </p>

                            </div>
                            <div class=" col-3">
                                <p id="Date"> </p>

                            </div>
                       </div>
                    </div>
                    <div class="card-footer">
                               <a href="#">Add Consultation</a> 
                    </div>
                </div><!-- End Card with header and footer -->
              </div> 
       
         </div>

        <div class="row ">
            <div class="col-lg-6">

                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <h5>Clinical Examination
                    </h5>
                    </div>
                    <hr />
                    <div class="row">
                        <div class=" col-3">
                            <p id="time">11:30pm </p>

                        </div>
                        <div class=" col-3">
                            <p id="appoint">Lab </p>

                        </div>
                        <div class=" col-3">
                            <p id="Date">22/08/2021 </p>

                        </div>
                    </div>
                       
                    </div>
                </div><!-- End Default Card -->
           



            <div class="col-lg-6">

                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Appointments/Teatment Plans</h5>
                        <div class="mt-2">
                            <h6>12/21/2022</h6>
                            <hr />

                        </div>
                        <div class="row">
                            <div class=" col-3">
                                <p id="time">11:30pm </p>

                            </div>
                            <div class=" col-3">
                                <p id="appoint">Lab </p>

                            </div>
                            <div class=" col-3">
                                <p id="Date">22/08/2021 </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex" style="justify-content:space-between;">
                        <a href="#">Schedule Consultation</a>
                        <a href="#">Schedule Lab Test</a>
                        <a href="#">Purchase Medication</a>

                    </div>
                </div><!-- End Card with header and footer -->
            </div>
         </div>

       
       
       
     </section>
               

        
</main>

